<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="FormStructureDrools">
    <test name="FormStructureDrools" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="jsonTests"/>
                <include name="xpath"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.drools.form.JsonTests"></class>
            <class name="com.biit.drools.form.XPathTests"></class>
        </classes>
    </test>
</suite>

